body{
    background-color: rgb(255, 255, 255);
}

.featureOuter{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.featureContainer{
    width: 755px;
    height: 755px;
    position: relative;
}


.feature{
    color: white;
    text-decoration: none;
}

.item{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: #1877F2;
    cursor: pointer;
}

.item1{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    background-size: cover;
}

.feature1 { top: -6%; left: 51%; transform: translate(-50%, 0);} 
.feature2 { top: 24%; left: 87%; transform: translate(-50%, -50%);} 
.feature3 { top: 59%; left: 92%; transform: translate(-50%, -50%);} 
.feature4 { top: 100%; left: 69%; transform: translate(-50%, -100%);}
.feature5 { top: 86%; left: 30%; transform: translate(-50%, -50%);} 
.feature6 { top: 57%; left: 8%; transform: translate(-50%, -50%);} 
.feature7 { top: 24%; left: 16%; transform: translate(-50%, -50%);} 

.icon{
    color: white;
    font-size: 20%;
}

.icons{
    color: white;
    font-size: 70px;
}

.featureHead{
    width: 100%;
    height: 50px;
}

.backIcon{
    width: 7%;
    height: 100%;
    background-color: #1877F2;
    border-radius: 10px;
    color: white;
    left: 5%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftIcon{
    font-size: 50px;
}

























/* body{
    background-color: rgb(232, 229, 229);
}

.featureContainer{
    width: 755px;
    height: 755px;
    display: grid;
    grid-template-columns: 185px 185px 185px;
    grid-template-rows: 185px 185px 185px;
    gap: 100px;
    margin: auto;
    margin-top: 9%;
}


.feature{
    color: white;
    text-decoration: none;
}

.item{
    border-radius: 50px;
    height: 185px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-weight: bolder;
    
}

.item1{
    border-radius: 50%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -10% -10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    color: #0063ff;
}

img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 50px;
}

.icon{
    color: white;
    font-size: 20%;
}

.icons{
    color: white;
    font-size: 70px;
} */