body{
    background-color: white;
}

.featureContainer{
    width: 755px;
    height: 755px;
    display: grid;
    grid-template-columns: 185px 185px 185px;
    grid-template-rows: 185px 185px 185px;
    gap: 100px;
    margin: auto;
    margin-top: 9%;
}


.feature{
    color: white;
    text-decoration: none;
}

.item{
    border-radius: 50px;
    height: 185px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-weight: bolder;
    
}

.item1{
    border-radius: 50%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    /* background-image: url("angry1.png"); */
    background-size: contain;
    background-position: -10% -10%;
}

img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 50px;
}

.icon{
    color: white;
    font-size: 20%;
}