*{
    font-family: "Lato", serif;
}

.login{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.signUp{
    width: 50%;
    height: 100%;
    background-color: black;
    border-radius: 150px 20px 20px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.opac{
    opacity: 0;
    color: red;
    font-size: 18px;
}

.signin{
    width: 50%;
    height: 100%;
    background-color: black;
    border-radius: 20px 150px 150px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.loginPage{
    width: 65%;
    height: 700px;
    border: 3px solid grey;
    padding: 3px;
    display: flex;
    margin: auto;
    margin-top: 10%;
    border-radius: 20px;
}

#root{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    text-align: center;
    font-size: 4em;
    color: white;
    /* margin-top: 36%; */
    font-weight: bolder;
}

.desc{
    width: 70%;
    /* margin: auto; */
    /* margin-top: 5%; */
    text-align: center;
    font-size: 1.5em;
    color: white;
}

.signUpBtn{
    width: 25%;
    height: 40px;
    /* margin: 10% 0 0 39%; */
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: bold;
}

.signUpBtn:hover{
    background-color: rgb(36, 36, 36);
}

.signInHead{
    text-align: center;
    font-size: 4em;
    color: black;
    /* margin-top: 20%; */
    font-weight: bolder;
}

.signUpHead{
    text-align: center;
    font-size: 4em;
    color: black;
    /* margin-top: 12%; */
    font-weight: bolder;
}

.email{
    width: 70%;
    height: 60px;
    /* margin: 5% 0 0 11%; */
    border-radius: 10px;
    font-size: 23px;
    box-shadow: 3px 3px 8px rgb(201, 199, 199);
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 3%;
}

.email:hover{
    box-shadow:inset 3px 3px 15px rgb(201, 199, 199);
}

.email:focus{
    box-shadow:inset 3px 3px 15px rgb(201, 199, 199);
}

.password{
    width: 70%;
    height: 60px;
    /* margin: 5% 0 0 11%; */
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    font-size: 23px;
    padding: 3%;
    box-shadow: 3px 3px 8px rgb(201, 199, 199);
    border: none;
}

.password:hover{
    box-shadow:inset 3px 3px 15px rgb(201, 199, 199);
}

.password:focus{
    box-shadow:inset 3px 3px 15px rgb(201, 199, 199);
}

.name{
    width: 70%;
    height: 60px;
    /* margin: 11% 0 0 11%; */
    border-radius: 10px;
    font-size: 23px;
    box-shadow: 3px 3px 8px rgb(201, 199, 199);
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 3%;
}

.name:hover{
    box-shadow: inset 3px 3px 8px rgb(201, 199, 199);
}

.name:focus{
    box-shadow: inset 3px 3px 8px rgb(201, 199, 199);
}

.signInBtn{
    width: 25%;
    height: 40px;
    border: 2px solid black;
    /* margin: 10% 0 0 37%; */
    border-radius: 10px;
    background-color: transparent;
    font-weight: bold;
}

.signInBtn:hover{
    background-color: rgb(246, 244, 244);
}


.errorMsg{
    color: red;
    font-size: 18px;
}
