*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* home page */

.homePageCont{
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstPageBody{
    height: 740px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
}

.bodyChild{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    width: 40%;
}

.introLines{
    font-size:56px;
}

.introSentence{
    font-size: 20px;
    line-height: 1.6;
    border-bottom: none;
    padding: 0px;
}

.gif{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.started{
    background-color: #7CABF7;
    padding: 10px;
    font-size: 22px;
    font-weight:600;
    border-radius: 20px;
    transform: rotate(17deg);
    width: 240px;
    /* opacity: .5; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;


    /* margin-top: 50px; */
}

.startedBtn{
    background-color: #0865FE;
    width: 180px;
    border-radius: 20px;
    height: 50px;
    border: none;
    font-size: 22px;
    font-weight:600;
    color: aliceblue;
    position: relative;
    transition: width .8s ease;
}

.startedBtn::before{
    content: '';

    position: absolute;
    inset: 0;

    height: 50px;
    width: 200px;
    transform: rotate(17deg);
    background-color: #5d97f5;
    z-index: -10;
    top: 0px;
    left: -10px;

    border-radius: 20px;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}

.startedBtn:hover::before{
    transform: rotate(180deg);
    left: 0px;
}

.startedBtn:hover{
    width: 200px;
}

.rightArrow{
    height: 20px;
    margin-left: 20px;
}

/* header component */

:root{
    --primary-color:#ffffff;
    --secondary-color:#298CB6;
}

body {
    font-family: Arial, sans-serif;
    background:#f0f0f0;
    background-repeat: no-repeat;
    background-position: 45% 34%, 45% 61%;
    background-size: 74% 115%, 84% 127%;
    height:100vh;
    padding-top: 20px;
}

input::placeholder{
    font-weight: 600;
    opacity: .8;
}

.corpName{
    color: black;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    height: 70px;
    background-color: #fffefe;
    width: 100%;

}

.company{
    display: flex;
    gap: 20px;
    font-size: 27px;
    align-items: center;
}

.logo{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: linear-gradient(pink,aqua);
}

.searchBox{
    /* color: var(--primary-color); */

    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    background-color:rgba(0, 0, 0, 0.068);
    width: 150px;
    height: 30.99px;
}

.searchInput{
    border:none;
    background: transparent;
}

.searchInput:focus{
    outline: none;
}

.options{
    display: flex;
    column-gap: 35px;
    align-items: center;
}

.nightMode{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #02CDC9;
    padding: 6.6px;
    border-radius: 50%;   
    background: var(--secondary-color);
    color: var(--primary-color);
}

.getStarted{
    border: 1px solid #02CDC9;
    padding: 5px;
    border-radius: 10px;
    font-weight: 300;
    background: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

.profile{
    cursor: pointer;
}

/* sideBar */

:root{
    --secondary-color:#166d30;
}

.sideBar{
    background: var(--secondary-color);
    width: fit-content;
    border-radius:20px ;
    display: flex;
    flex-direction: column;
    color: #1C5A7C;
    float: right;
    margin-top: 30px;
    cursor: pointer;
}