*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* home page */

.homePageCont{
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstPageBody{
    height: 740px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
}

.bodyChild{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    width: 40%;
}

.introLines{
    font-size:56px;
}

.introSentence{
    font-size: 20px;
    line-height: 1.6;
    border-bottom: none;
    padding: 0px;
}

.gif{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.started{
    background-color: #7CABF7;
    padding: 10px;
    font-size: 22px;
    font-weight:600;
    border-radius: 20px;
    transform: rotate(17deg);
    width: 240px;
    /* opacity: .5; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;


    /* margin-top: 50px; */
}

.startedBtn{
    background-color: #0865FE;
    width: 180px;
    border-radius: 20px;
    height: 50px;
    border: none;
    font-size: 22px;
    font-weight:600;
    color: aliceblue;
    position: relative;
    transition: width .8s ease;
    cursor: pointer;
}

.startedBtn::before{
    content: '';

    position: absolute;
    inset: 0;

    height: 50px;
    width: 200px;
    transform: rotate(17deg);
    background-color: #5d97f5;
    z-index: -10;
    top: 0px;
    left: -10px;

    border-radius: 20px;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}

.startedBtn:hover::before{
    transform: rotate(180deg);
    left: 0px;
}

.startedBtn:hover{
    width: 200px;
}

.rightArrow{
    height: 20px;
    margin-left: 20px;
}

/* header component */

:root{
    --primary-color:#ffffff;
    --secondary-color:#298CB6;
}

body {
    font-family: Arial, sans-serif;
    background:#f0f0f0;
    background-repeat: no-repeat;
    background-position: 45% 34%, 45% 61%;
    background-size: 74% 115%, 84% 127%;
    height:100vh;
    position: relative;
}

input::placeholder{
    font-weight: 600;
    opacity: .8;
}

.corpName{
    color: black;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    height: 70px;
    background-color: #fffefe;
    width: 100%;

}

.company{
    display: flex;
    gap: 20px;
    font-size: 27px;
    align-items: center;
}

/* .logo{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: linear-gradient(pink,aqua);
} */

.searchBox{
    /* color: var(--primary-color); */

    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    background-color:rgba(0, 0, 0, 0.068);
    width: 150px;
    height: 30.99px;
}

.searchInput{
    border:none;
    background: transparent;
}

.searchInput:focus{
    outline: none;
}

.options{
    display: flex;
    column-gap: 35px;
    align-items: center;
}

.nightMode{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #02CDC9;
    padding: 6.6px;
    border-radius: 50%;   
    background: var(--secondary-color);
    color: var(--primary-color);
}

.getStarted{
    border: 1px solid #02CDC9;
    padding: 5px;
    border-radius: 10px;
    font-weight: 300;
    background: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

.profile{
    cursor: pointer;
}

/* sideBar */

:root{
    --secondary-color:#166d30;
}

.sideBar{
    background: var(--secondary-color);
    width: fit-content;
    border-radius:20px ;
    display: flex;
    flex-direction: column;
    color: #1C5A7C;
    float: right;
    margin-top: 30px;
    cursor: pointer;
}

<<<<<<< HEAD
/* chat */

.chatHeader{
    height: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 35px;
    /* width: ; */
}

.fullPageOfChat{
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 800px;
    padding: 10px 40px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.back{
    font-size: 25px;
}

.chatSpace{
    height: 80%;
    background-color:#F2F3F7;
    border-bottom: 1px solid #e7e5e5;
    border-top: 1px solid #e7e5e5;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    gap: 10px;
    overflow-y: auto;
}

.manMsg{
    background-color: #5a9bfd;
    height: fit-content;
    padding: 10px;
    border-radius: 15px;
    border-bottom-right-radius: 2px;
}

.manMsgWithTime{
    align-self: flex-end;
    display: flex;
    gap: 5px;
}

.botMsgWithTime{
    align-self: flex-start;
    display: flex;
    gap: 5px;
}


.time{
    font-size: 15px;
    opacity: .5;
}


.botMsg{
    background-color: #E4EAF1;
    padding: 10px;
    border-radius: 15px;
    border-top-left-radius: 2px;
    height: fit-content;
}

.chatFooter{
    display: flex;
    justify-content: space-between;
}

.inputBox{
    height: 40px;
    border-radius: 20px;
    border: none;
    padding-left: 10px;
    width: 85%;
    background-color: #F2F3F7;
    margin: 0;
}

.sendButton{
    border-radius: 50%;
    border: none;
    font-size: 20px;
    padding: 8px 12px;
    background-color: #5a9bfd;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatContainer{
    height: 98vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
=======
/* header */


.loginBox{
    /* height: 450px; */
    width: 500px;
    color: white;
    background: rgb(8,70,151);
    background: linear-gradient(90deg, rgba(8,70,151,1) 0%, rgba(11,136,255,1) 60%);
    border-radius: 10px;
    transition: transform .5s ease, height .5s ease;
    backdrop-filter: blur(10px);
    padding: 50px 0px;
    opacity: .9;
}

.signUpForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.inputParent{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputBoxes{
    width: 300px;
    /* border-radius: 10px; */
    height: 40px;
    border: none;
    background-color:transparent;
    padding-left: 13px;
    border-bottom: 1px solid white;
    color: white;
    /* backdrop-filter: blur(10px); */
}

.nameLabel{
    position: absolute;
    top: 13px;
    left: 10px;
    /* background-color: white; */
    transition: top .5s ease;
    padding: 0px 3px;
    color: white;
}

.labels{
    position: absolute;
    top: 40px;
    left: 10px;
    /* background-color: white; */
    transition: top .5s ease;
    padding: 0px 3px;
    color: white;
}

.inputBoxes:focus{
    outline: none;
}

.inputBoxes:hover+.nameLabel{
    top: -8px;
}

.inputBoxes:valid+.nameLabel{
    top: -8px;
}

/* .inputBoxes:focus+.labels{
    top: 10px;
} */

.inputBoxes:hover+.labels{
    top: 20px;
}

.inputBoxes:valid+.labels{
    top: 20px;
}

/* header */

.header{
    width: 100%;
    height: 70px;
    background-color: white;
    padding: 10px 50px;   
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.headersLeft{
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon{
    font-size: 40px;
    color: #216AAE;
    cursor: pointer;
}

.loginTxt{
    border: 1px solid #216AAE;
    border-radius:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #216AAE;
    cursor: pointer;
}

.signUpTxt{
    border: 1px solid #216AAE;
    border-radius:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    background-color: #216AAE;
    cursor: pointer;
}

.gettingIn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logHeading{
    font-size: 22px;
}

.forLogin{
    top: 0px;
    left: 0px;
    position: absolute;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.signUpSubmitBtn{
    padding: 30px 20px;
    border: none;
    background: rgb(8,145,242);
    background: linear-gradient(100deg, rgba(8,145,242,1) 0%, rgba(22,220,255,1) 100%);
    color: white;
    /* border-radius: 10px; */
    font-size: 20px;
    cursor: pointer;
    width: 120%;
}

.opac{
    opacity: 0;
}

.errMsg{
    color: red;
}

.underSmlLoginTxt:hover{
    text-decoration: underline;
    cursor: pointer;
}

.sideBar{
    position: absolute;
    /* height: calc(100% - 70px); */
    background-color: rgb(241, 241, 241);
    width: 300px;
    top: 70px;
    right: 0%;
    /* padding-left: 20px;
    padding-top: 20px; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding:20px ;
    border-bottom-left-radius: 10px;

}
>>>>>>> 6825077d57f38c6ab6e203a36b36ccb149773f0a
