*{
    font-family: "Lato", serif;
}

.configOuter{
    width: 45%;
    height: 700px;
    border: 1px solid black;
    margin: auto;
    margin-top: 10%;
    border-radius: 10px;
}

.config{
    width: 90%;
    height: 520px;
    margin: auto;
}

.happy{
    width: 70%;
    height: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 5%;
    font-size: 1.5em;
}

input{
    width: 25px;
    height: 25px;
    /* margin-left: 10%; */
}

label{
    padding-left: 2%;
}

.question{
    font-weight: bolder;
}

.emotion1{
    margin-top: 7%;
}

.emotion2{
    margin-top: 5%;
}

.CnextBtn{
    width: 15%;
    height: 40px;
    margin-left: 72%;
    border-radius: 10px;
    background-color: transparent;
    font-size: 20px;
    font-weight: bolder;
}

.nextBtn:hover{
    background-color: rgb(227, 244, 249);
}

h1{
    text-align: center;
    margin-top: 5%;
}

