*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", serif;
}

.homeOuter{
    width: 60%;
    height: 1000px;
    /* border: 1px solid; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.detectHeading{
    width: 90%;
    height: 100px;
    font-size: 3em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 4px;
    word-spacing: 20px;
    background-color: white;
    box-shadow: 4px 4px 8px rgb(205, 203, 203);
    margin: auto;
    border-radius: 10px;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    /* background: linear-gradient(to right, #ff7e5f, #feb47b); */
}

.videoImg{
    width: 65%;
    height: 561px;
    margin: auto;
    margin-top: 2%;
    position: relative;
}

.videoDiv{
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    /* margin: 3% 0 0 10%; */
    position: relative;
    margin: auto;
    z-index: 1;
    /* transform: rotateY(180deg); */
}

.createCanvas{
    position: absolute;
    margin: 10% 0 0 10.5%;
    width: 39%;
    height: 50%;
    z-index: 3;
}

.detectBtn{
    width: 15%;
    height: 40px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 1.2em;
    color: white;
    /* background: linear-gradient(to right, #ff00ff, #ffcc00); */
    background: linear-gradient(to right, #00c6ff, #0072ff);
}

.detectBtn:hover{
    background: linear-gradient(to right, #0072ff, #00c6ff);
    /* background-color: #00c6ff; */
    /* background-color: rebeccapurple; */
}


.detected{
    width: 60%;
    height: 100px;
    border: 1px solid;
    margin: auto;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 3em;
}




.outer{
    width: 100%;
    height: auto;
}

.quotesDiv{
    width: 80%;
    height: 900px;
    margin: auto;
    margin-top: 5%;
}

.quotesHeading{
    width: 80%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    font-weight: bolder;
    background-color: rgb(249, 250, 252);
    box-shadow: 5px 5px 8px rgb(229, 228, 228);
    border-radius: 15px;
}

.quotes{
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5%;
    background-color: rgb(246, 245, 245);
    border-radius: 15px;
    box-shadow: 5px 5px 8px rgb(234, 232, 232);
}

.nextQuoBtn{
    width: 10%;
    height: 50px;
    margin: 2% 0 0 80%;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 22px;
}

.quotes1{
    width: 77%;
    height: auto;
    font-size: 3em;
    font-weight: bolder;
    line-height: 60px;
    /* display: flex; */
    /* flex-direction: column; */
}



.authorOfQuo{
    width: 45%;
    height: 70px;
    margin: 5% 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bolder;
    color: green;
}

.setQuo{
    margin: 0 0 0 8%;
    position: relative;
}


.storyOuter{
    width: 90%;
    height: 950px;
    margin: auto;
    margin-top: 4%;
}


.storyHeader{
    width: 80%;
    height: 100px;
    background-color: aliceblue;
    box-shadow: 5px 5px 8px rgb(225, 224, 224);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    font-weight: bolder;
    border-radius: 15px;
}

.story{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 5%;
    font-size: 1.5em;
}

.author{
    width: 50%;
    height: 30px;
    margin: 2% 0 0 57%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    font-weight: bold;
}

.moral{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bolder;
}

.nextStory{
    width: 10%;
    height: 40px;
    border: 1px solid;
    border-radius: 10px;
    margin: 2% 0 0 80%;
    font-size: 20px;
}

.sHead{
    width: 80%;
    height: 120px;
    margin: auto;
}

.storyHead{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bolder;
}

.storyDiv{
    width: 90%;
    height: 400px;
    margin: auto;
    margin-top: 2%;
    padding: 2%;
    line-height: 40px;
    /* border: 1px solid; */
    background-color: rgb(248, 246, 246);
    border-radius: 20px;
    overflow-y: scroll;
    /* scrollbar-width: none; */
}


/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    background-color: #e9e9e9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

.chatHeader{
    height: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 35px;
    /* width: ; */
}

.fullPageOfChat{
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 800px;
    padding: 10px 40px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.back{
    font-size: 25px;
}

.chatSpace{
    height: 80%;
    background-color:#F2F3F7;
    border-bottom: 1px solid #e7e5e5;
    border-top: 1px solid #e7e5e5;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    gap: 10px;
    overflow-y: auto;
}

.manMsg{
    background-color: #5a9bfd;
    height: fit-content;
    padding: 10px;
    border-radius: 15px;
    border-bottom-right-radius: 2px;
}

.manMsgWithTime{
    align-self: flex-end;
    display: flex;
    gap: 5px;
}

.botMsgWithTime{
    align-self: flex-start;
    display: flex;
    gap: 5px;
}


.time{
    font-size: 15px;
    /* margin-left: 10px; */
    opacity: .5;
}


.botMsg{
    background-color: #E4EAF1;
    padding: 10px;
    border-radius: 15px;
    border-top-left-radius: 2px;
    height: fit-content;
}

.chatFooter{
    display: flex;
    justify-content: space-between;
}

.inputBox{
    height: 40px;
    border-radius: 20px;
    border: none;
    padding-left: 10px;
    width: 85%;
    background-color: #F2F3F7;
    margin: 0;
}

.sendButton{
    border-radius: 50%;
    border: none;
    font-size: 20px;
    padding: 8px 12px;
    background-color: #5a9bfd;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatContainer{
    height: 98vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}








































