*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", serif;
}

.detectHeading{
    width: 60%;
    height: 100px;
    margin: 3% 0 0 19%;
    font-size: 3em;
    /* border: 1px solid black; */
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 4px;
    word-spacing: 20px;
    background-color: white;
    box-shadow: 4px 4px 8px rgb(205, 203, 203);
}

.videoDiv{
    width: 80%;
    height: 700px;
    border: 1px solid black;
    margin: 3% 0 0 10%;
    position: relative;
    /* transform: rotateY(180deg); */
}

.outer{
    width: 100%;
    height: auto;
}

.detected{
    width: 40%;
    height: 100px;
    border: 1px solid;
    margin: 2% 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 3em;
}

.createCanvas{
    position: absolute;
    margin: 3% 0 0 -80%;
}

.quotesDiv{
    width: 80%;
    height: 900px;
    margin: auto;
    margin-top: 5%;
}

.quotesHeading{
    width: 80%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    font-weight: bolder;
    background-color: rgb(249, 250, 252);
    box-shadow: 5px 5px 8px rgb(229, 228, 228);
    border-radius: 15px;
}

.quotes{
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5%;
    background-color: rgb(246, 245, 245);
    border-radius: 15px;
    box-shadow: 5px 5px 8px rgb(234, 232, 232);
}

.nextQuoBtn{
    width: 10%;
    height: 50px;
    margin: 2% 0 0 80%;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 22px;
}

.quotes1{
    width: 77%;
    height: auto;
    font-size: 3em;
    font-weight: bolder;
    line-height: 60px;
    /* display: flex; */
    /* flex-direction: column; */
}

.authorOfQuo{
    width: 45%;
    height: 70px;
    margin: 5% 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bolder;
    color: green;
}

.setQuo{
    margin: 0 0 0 8%;
    position: relative;
}


.storyOuter{
    width: 90%;
    height: 950px;
    margin: auto;
    margin-top: 4%;
}


.storyHeader{
    width: 80%;
    height: 100px;
    background-color: aliceblue;
    box-shadow: 5px 5px 8px rgb(225, 224, 224);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    font-weight: bolder;
    border-radius: 15px;
}

.story{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 5%;
    font-size: 1.5em;
}

.author{
    width: 50%;
    height: 30px;
    margin: 2% 0 0 57%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    font-weight: bold;
}

.moral{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bolder;
}

.nextStory{
    width: 10%;
    height: 40px;
    border: 1px solid;
    border-radius: 10px;
    margin: 2% 0 0 80%;
    font-size: 20px;
}

.sHead{
    width: 80%;
    height: 120px;
    margin: auto;
}

.storyHead{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bolder;
}

.storyDiv{
    width: 90%;
    height: 400px;
    margin: auto;
    margin-top: 2%;
    padding: 2%;
    line-height: 40px;
    /* border: 1px solid; */
    background-color: rgb(248, 246, 246);
    border-radius: 20px;
    overflow-y: scroll;
    /* scrollbar-width: none; */
}








































